<!DOCTYPE html>
<html lang="en">



<head>


  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>LocateYourWaste - Brooklyn</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <!-- End plugin css for this page -->
  <!-- inject:css -->
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/vertical-layout-light/style.css') }}">
    <!-- endinject -->
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
        
    <link href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">

</head>

<body>


  <header id="header" class="d-flex align-items-center" style="background: #5cb874;">
    <div class="container d-flex align-items-center">

      <h2 class="logo me-auto"><a href="homepage.html" style="color: white;">LocateYourWaste</a></h2>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar" style="background-color:#5cb874;">
                <ul>
                    <li><a class="nav-link scrollto active" href="/" style="color: white;">Home</a></li>
                    <li><a class="nav-link scrollto" href="/nycwaste" style="color: white;">Waste in NYC</a></li>
                    <!-- <li><a class="nav-link scrollto " href="#borough">Waste by Boroughs</a></li> -->

                    <li class="dropdown"><a href="/boro" style="color: white;"><span style="color: white;">Waste
                                by Boroughs</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/bronx#bronx">Bronx</a></li>
                            <li><a href="/brooklyn#brooklyn">Brooklyn</a></li>
                            <li><a href="/manhattan#manhattan">Manhattan</a></li>
                            <li><a href="/queens#queens">Queens</a></li>
                            <li><a href="/staten#staten">Staten Island</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="/list_dropoffs" style="color: white;">Drop-off Locations</a></li>
                    <li><a class="nav-link scrollto" href="/#team" style="color: white;">Team</a></li>
                    <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

    </div>
  </header>

  <section id="waste" class="about">
    <div class="container">

      <div class="section-title">
        <h2>Waste Analysis By Boroughs</h2>
      </div>

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{{ url_for('static',filename='assets/img/download.png') }}" height="500px" width="600px" alt="" usemap="#nyc">
                    <map name="nyc">
                        <area shape="poly"
                            coords="168,353,191,349,220,344,227,373,244,401,223,435,199,459,173,484,145,494,115,514,69,531,61,505,67,473,87,454,73,497,102,438,107,414,107,391,110,368,126,352,146,356"
                            href="/staten#staten" alt="">
                        <area shape="poly"
                            coords="278,221,287,199,298,186,306,165,316,149,326,132,326,117,332,103,343,90,350,78,369,75,374,92,367,107,356,122,354,140,356,160,355,177,354,190,342,203,331,223,320,260,316,278,298,281,290,297,273,310,255,311,246,292,260,271,270,256,273,240"
                            href="/manhattan#manhattan" alt="">
                        <area shape="poly"
                            coords="368,27,385,29,405,37,421,30,438,35,441,47,457,53,474,58,489,68,504,84,504,107,494,127,481,128,472,123,468,136,482,150,485,162,468,165,456,160,445,163,426,165,413,176,407,182,396,186,386,181,381,175,369,173,359,167,353,159,350,147,349,134,352,115,358,107,363,96,368,91,373,81,358,75,365,78,352,69,356,58,359,48,364,38"
                            href="/bronx#bronx" alt="">
                        <area shape="poly"
                            coords="415,179,425,168,441,168,458,166,477,170,497,169,514,182,529,190,540,199,555,214,563,231,562,256,546,264,536,268,538,285,543,310,540,324,540,340,532,357,526,368,512,373,516,383,532,396,531,412,514,420,494,421,477,425,461,430,448,436,436,440,425,446,413,449,400,458,390,462,374,464,367,471,355,474,340,480,335,470,336,460,343,450,355,445,367,437,3777,434,392,433,407,428,421,419,424,404,421,389,420,375,419,352,415,339,418,326,415,314,408,298,397,300,385,304,420,193,405,191,392,191,378,180,364,187,358,195,342,210,333,223,321,240,341,244,354,254,360,273,366,281,374,292"
                            href="/queens#queens" alt="">
                        <area shape="poly"
                            coords="322,252,318,265,310,273,299,273,285,288,279,299,267,316,264,336,252,354,250,376,257,398,271,408,280,421,278,441,307,447,332,440,356,432,373,424,381,433,401,430,415,425,418,413,417,395,413,386,414,372,415,357,415,339,415,327,412,314,403,308,390,306,371,295,360,282,350,271,349,260,340,255,328,248"
                            href="/brooklyn#brooklyn" alt="">
                    </map>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Click on any of the boroughs on our interactive map to get to know the waste trends there.</h3>
          <p class="fst-italic">
            OR
          </p>
          <p>
            Use the dropdown below
            <br>
            <br>
            <select name="boro" id="boro" onchange="location=this.value">
                            <option value="/brooklyn">Please Select A Boro</option>
                            <option value="/manhattan#manhattan">Manhattan</option>
                            <option value="/brooklyn#brooklyn">Brooklyn</option>
                            <option value="/bronx#bronx">Bronx</option>
                            <option value="/queens#queens">Queens</option>
                            <option value="/staten#staten">Staten Island</option>
                        </select>
          </p>
        </div>
      </div>

    </div>
  </section>

  <!-- partial -->
  <div class="main-panel" style="width: 100%;" id="brooklyn">
    <div class="content-wrapper" style="background-color: white; padding: 1.5rem 3.5rem 1.5rem 3.5rem;">
      <div class="row">
        <div class="tab-content tab-content-basic" style="border: none; padding-top: 0px; padding-bottom: 0px;">
          <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">

            <div class="section-title" style="padding-bottom: 0px;">
              <h2>BROOKLYN</h2>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class=" d-flex flex-column">
          <div class="row flex-grow">
            <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body" style="padding-left: 0px">
                  <div class="d-sm-flex justify-content-evenly align-items-center">
                    <div>
                      <h4 class="card-title card-title-dash" style="text-align: center;">Yearly Total
                        Waste Collected in Tons
                        by the Department of
                        Sanitation
                        from Brooklyn Residences and Institutions</h4>
                      <!-- <h5 class="card-subtitle card-subtitle-dash">Lorem Ipsum is simply dummy text of the
                        printing</h5> -->
                    </div>

                  </div>
                  <div class="chartjs-wrapper mt-5">
                    <canvas id="myChart" height="90px"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <section id="featured-services" class="featured-services section-bg">
            <div class="container">

              <div class="row no-gutters">
                <div class="col-lg-4 col-md-6">


                   <h4 class="title"><a href="">2.58 Million Residents</a></h4>
                  <p class="description">makes Brooklyn the most populous NYC borough in 
                    terms of population.</p>

                </div>
                <div class="col-lg-4 col-md-6">


                              <h4 class="title"><a href="">70 Square Miles</a></h4>
                  <p class="description">makes Brooklyn the second largest NYC borough by area.</p>

                </div>
                <div class="col-lg-4 col-md-6">

<h4 class="title"><a href=""> 36,732 People per mi²</a></h4>
                  <p class="description">makes Brooklyn the 
                    second most densely populated NYC borough.</p>

                </div>
              </div>

            </div>
          </section>

        </div>
        <div class="row">
          <div class="card card-rounded">
            <div class="d-sm-flex align-items-center mt-1 justify-content-between">
              <div>
                <div class="d-sm-flex align-items-center mt-4 justify-content-between">
                  <h4 class="card-title card-title-dash">Yearly Total Paper Waste in Tons</h4>
                  <!-- <h4 class="me-2">USD</h4>
                  <h4 class="text-success">(+1.37%)</h4> -->
                </div>
                <!-- <div class="me-3">
              <div id="marketing-overview-legend"></div>
            </div> -->
                <div class="chartjs-bar-wrapper mt-3">
                  <canvas id="paper" width="400" height="200"></canvas>
                </div>
              </div>
              <div>
                <div class="d-sm-flex align-items-center mt-4 justify-content-between">
                  <h4 class="card-title card-title-dash">Yearly Total M, G, P Waste in Tons</h4>

                </div>

                <div class="chartjs-bar-wrapper mt-3">
                  <canvas id="mgp" width="400" height="200"></canvas>
                </div>
              </div>
              <div>
                <div class="d-sm-flex align-items-center mt-4 justify-content-between">
                  <h4 class="card-title card-title-dash">Yearly Total Refuse in Tons</h4>

                </div>

                <div class="chartjs-bar-wrapper mt-3">
                  <canvas id="refuse" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 35px; padding-bottom: 20px;">
          <section id="featured-services" class="featured-services section-bg">
            <div class="container">

              <div class="row no-gutters">
                <div class="col-lg-4 col-md-6">


                  <h4 class="title"><a href="">In Terms of Recycling:</a></h4>
                  <p class="description">Brooklyn overall had the fourth highest diversion rate out of all
                    5 NYC boroughs. In other words, Brookyln, with an overall 16.5% diversion rate, held the fourth highest level of properly recycled total waste
                    out of all 5 boroughs. The rather low recycling rates in Brooklyn most definitely can be attributed 
                    to how populous the borough is. 

                </div>
                <div class="col-lg-4 col-md-6">


                  <h4 class="title"><a href="">In Terms of Waste:</a></h4>
                  <p class="description">The largest amount of waste over time amongst all 5 NYC boroughs has been collected from Brooklyn. Yearly total waste levels sharply and steadily increased since 1990 to 1995 and remained at significantly high levels onwards. 
                    Generally, Brooklyn's yearly total waste ranged from 600,000 to 1,100,000 tons, peaking in 2021.
                    Out of the 3 types of waste, refuse waste was the most collected amongst the sub-categories, peaking in around 1992, 2003, & 2021. 
                  </p>

                </div>
                <div class="col-lg-4 col-md-6">


                  <h4 class="title"><a href="">In Terms of Cleanliness:</a></h4>
                  <p class="description">Brooklyn overall was the least clean out of all 5 NYC boroughs,
                    with acceptable streets levels over time ranging from around 85 to 95%. 
                    It experienced many ups & downs throughout the years, with the lowest in 2022 
                    at around 85% and highest in around 2007 at 95%. What seems to be concerning about Brooklyn
                    is how the cleanliness level of streets seem to be dropping over time since around 2016 to today. 
                    This is likely because Brooklyn is highly populated. 
                  </p>

                </div>
              </div>

            </div>
          </section>

        </div>
        <div class="row">
          <div class="card card-rounded">
            <div class="d-sm-flex align-items-center mt-1 justify-content-between">
              <div>
                <div class="d-sm-flex align-items-center mt-4 justify-content-between">
                  <h4 class="card-title card-title-dash">Recycling Rates (%)</h4>
                  <!-- <h4 class="me-2">USD</h4>
                  <h4 class="text-success">(+1.37%)</h4> -->
                </div>
                <!-- <div class="me-3">
              <div id="marketing-overview-legend"></div>
            </div> -->
                <div class="chartjs-bar-wrapper mt-3">
                  <canvas id="monthly_brooklyn" width="400" height="200"></canvas>
                </div>
              </div>
              <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false" style="margin: 35px;">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Brooklyn_neighborhoods_map.png/1200px-Brooklyn_neighborhoods_map.png"
                      class="d-block w-100" alt="...">
                   
                  </div>

                  <div class="carousel-item">
                    <img src="https://www.tripsavvy.com/thmb/DFKiZe64t0nP3TEU7TgWadxS-rQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-540763429-58fb923c5f9b581d59426e03.jpg"
                      class="d-block w-100" alt="...">
                   
                  </div>
                  <div class="carousel-item">
                   <img src="https://media.timeout.com/images/101830363/image.jpg"
                      class="d-block w-100" alt="...">
                    
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div>
                <div class="d-sm-flex align-items-center mt-4 justify-content-between">
                  <h4 class="card-title card-title-dash">Street Cleanliness Ratings</h4>

                </div>

                <div class="chartjs-bar-wrapper mt-3">
                  <canvas id="street_brooklyn" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer id="footer">
    <div class="container">
      <h3>LocateYourWaste</h3>
      <p>Learn to Lessen Pollution and Increase Personal Impact.</p>

      <div>
        Project by Dariga, Himanshi, and Yuki
      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- partial -->
  </div>
  <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->


  <!-- Plugin js for this page -->
  <script src="{{ url_for('static',filename='assets/vendor/chart.js/Chart.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
  <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: {{brooklyn_total_years | safe}},
        datasets: [{
          label: 'Brooklyn Yearly Total Waste',
          data: {{brooklyn_values | safe}},
          fill: false,
          backgroundColor: ['rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)', 'rgba(215, 236, 217, 1)'],
          // borderColor: ['rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)'],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>
  <script>
    var ctx = document.getElementById("paper").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{brooklyn_paper_years | safe}},
        datasets: [{
          label: 'Brooklyn Yearly Total Paper Waste',
          data: {{brooklyn_paper | safe}},
          fill: false,
          borderColor: [
            // 'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            // 'rgba(255, 206, 86, 1)',
            // 'rgba(75, 192, 192, 1)',
            // 'rgba(153, 102, 255, 1)',
            // 'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>
  <script>
    var ctx = document.getElementById("refuse").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{brooklyn_refuse_years | safe}},
        datasets: [{
          label: 'Brooklyn Yearly Total Refuse Waste',
          data: {{brooklyn_refuse | safe}},
          fill: false,
          borderColor: [
            // 'rgba(255,99,132,1)',
            // 'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            // 'rgba(75, 192, 192, 1)',
            // 'rgba(153, 102, 255, 1)',
            // 'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>
  <script>
    var ctx = document.getElementById("mgp").getContext('2d');
    var myChart = new Chart(ctx, {
      responsive: true,
      type: 'line',
      data: {
        labels: {{brooklyn_mgp_years | safe}},
        datasets: [{
          label: 'Brooklyn Yearly Total MGP Waste',
          data: {{brooklyn_mgp | safe}},
          fill: false,
          borderColor: [
            // 'rgba(255,99,132,1)',
            // 'rgba(54, 162, 235, 1)',
            // 'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            // 'rgba(153, 102, 255, 1)',
            // 'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>
  <script>
    var ctx = document.getElementById("monthly_brooklyn").getContext('2d');
    var myChart = new Chart(ctx, {
      responsive: true,
      type: 'line',
      data: {
        labels: {{recycling_years | safe}},
        datasets: [{
          label: 'Recycling Rates',
          data: {{brooklyn_recycling | safe}},
          fill: false,
          borderColor: [
            // 'rgba(255,99,132,1)',
            // 'rgba(54, 162, 235, 1)',
            // 'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            // 'rgba(153, 102, 255, 1)',
            // 'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>
  <script>
    var ctx = document.getElementById("street_brooklyn").getContext('2d');
    var myChart = new Chart(ctx, {
      responsive: true,
      type: 'line',
      data: {
        labels: {{street_years | safe}},
        datasets: [{
          label: 'Brooklyn Acceptable Streets',
          data: {{brooklyn_street | safe}},
          fill: false,
          borderColor: [
            // 'rgba(255,99,132,1)',
            // 'rgba(54, 162, 235, 1)',
            // 'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            // 'rgba(153, 102, 255, 1)',
            // 'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>

</body>

</html>